[Unit]
Description=Halley desktop portal backend
PartOf=graphical-session.target xdg-desktop-portal.service
Requisite=graphical-session.target
After=graphical-session.target pipewire.service

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.halley
ExecStart=/usr/bin/xdg-desktop-portal-halley
Restart=on-failure
